.player-box{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 250px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color:rgba(0,0,0,0.4);
    margin: 10px 10px 10px 0;

    span{
        font-size: 20px;
        margin-right: 16px;
        text-align: end;
    }

    img{
        height: 50px;
        width: auto;
        object-fit: cover;
        border-radius: 100%;
        border: black solid 2px;
    }
}

.player-active{
    background-color: orange;
}

